body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: rgb(231, 228, 32);
}

h1 {
    color: rgb(44, 36, 36);
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100px;
    padding: 5px;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    color: rgba(168, 81, 81, 0.404);
    border: none;
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
}